@import '/vendor/filament/filament/resources/css/theme.css';

@config 'tailwind.config.js';


.ts-control {
    @apply w-full rounded-lg border border-gray-300 py-1 px-3 shadow-sm h-9 sm:text-sm sm:leading-6 dark:bg-gray-800 dark:ring-white/10 dark:text-white dark:placeholder:text-gray-500 dark:border-gray-700;
}

.ts-control input {
    @apply !pr-5 text-sm !m-0 dark:bg-gray-700 dark:text-gray-100;
}

.ts-wrapper.single.input-active {
    @apply rounded-lg border-2 border-warning-600 dark:bg-gray-700 dark:text-gray-100;
}

.ts-wrapper.plugin-remove_button .item {
    @apply rounded-md;
}

.ts-control,
.ts-wrapper.single.input-active .ts-control {
    @apply dark:bg-gray-800 dark:text-gray-100;
}

.ts-dropdown-content {
    overflow: hidden auto;
    max-height: 300px;
    scroll-behavior: smooth;
}

.ts-dropdown .optgroup-header {
    @apply dark:bg-gray-900 dark:text-gray-100;
}

.ts-wrapper.plugin-remove_button .item .remove {
    @apply border-none text-lg leading-none py-1 rounded-r-lg;
}

.ts-dropdown {
    @apply rounded-md border border-solid border-t border-gray-300 dark:bg-gray-800 dark:ring-white/10 dark:text-white dark:placeholder:text-gray-500 dark:border-gray-700;
}

.ts-dropdown .create:hover,
.ts-dropdown .option:hover,
.ts-dropdown .active {
    @apply dark:bg-gray-700 dark:text-gray-100;
}

.ts-dropdown [data-selectable].option,
.ts-dropdown .no-results {
    @apply py-2;
}

.ts-dropdown [data-selectable].option:first-child {
    @apply rounded-t-md;
}

.ts-dropdown [data-selectable].option:last-child {
    @apply rounded-b-md;
}

.ts-dropdown .spinner {
    @apply h-auto w-auto;
}

.ts-dropdown .spinner:after {
    @apply h-5 w-5 border-2 p-0 my-0 inline-block;
}

.ts-wrapper:not(.form-control):not(.form-select).single .ts-control {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
    background-position: right 0.5rem center;
    background-repeat: no-repeat;
    background-size: 1.5em 1.5em;
    print-color-adjust: exact;
}
